<aside class="sidebar">
      <h1><a href="/" style="text-underline:none;color:black;">Scriptlify</a></h1>
<div class="sidebar-nav">
<ul class="list">
<li><h3>Blog</h3></li>
    {% for post in site.categories.Blog %}
      <li>
          <a class="sidebar-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
      </li>
    {% endfor %}
<li><h3>Documentation</h3></li>
    {% for post in site.categories.Documentation %}
      <li>
          <a class="sidebar-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
      </li>
    {% endfor %}
</ul>
</div>
    <div style="position:relative;">    
    <div style="position:absolute;bottom:5px;">
          Last deployed {{ site.time }} via <a href="https://www.netlify.com" target="_blank">Netlify</a>
    </div>
    </div>
</aside>
