<aside class="sidebar">
      <h1><a href="/" style="text-underline:none;color:black;">Scriptlify</a></h1>
<input id="search" type="text" class="search" placeholder="Search" />
<div class="sidebar-nav">
<ul id="scripts">
<li><h3>Blog</h3></li>
    {% for post in site.categories.Blog %}
      <li>
          <a class="sidebar-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
      </li>
    {% endfor %}
<li><h3>Documentation</h3></li>
    {% for post in site.categories.Documentation %}
      <li>
          <a class="sidebar-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
      </li>
    {% endfor %}
</ul>
</div>
</aside>
