<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    {% include sidebar.html %}

    <div class="page-content">
      <div class="wrapper">
        <h1 class="page-heading">{{ page.title }}</h1>
        <div style="font-size:12px;color:gray;">{{ page.categories }}</div>
        <div style="font-size:16px;">{{ page.description }}</div>
        <center><img src="https://scriptlify.netlify.com{{ page.screenshot }}" alt="Screenshot of {{ page.title }}" />
<a href="https://app.netlify.com/start/deploy?repository={{ page.repository_url }}{% if page.cms == true %}&stack=cms{% endif %}"><img src="https://www.netlify.com/img/deploy/button.svg" title="Deploy to Netlify" alt="Deploy to Netlify"></a></div>
        </center></div>
  </body>

</html>
